{% extends "sitewide/sitewide_base.html" %} {% load staticfiles %} {% block body_content %} {% if user.is_authenticated %} {% include "sitewide/post_login_base.html" %} {% else %} {% include "sitewide/pre_login_navbar.html" %} {% endif %}
<style type="text/css">
.feed_button {
    font-size: 2vw;
    margin-right: 1vw;
}

.feed_user_picture {
    width: 3vw;
    display: inline;
    border-radius: 12vw;
}

.feed_user_activity {
    display: inline;
}

</style>
<div class="container-fluid" style="margin-top: 2vh;">
    <div class="row">
        <div class="col-md-2">
            <p style="text-align: center;">Intro</p>
            {{intro}}
        </div>
        <div class="col-md-8" style="text-align: center;">
            <img src="{{photo_link}}" style="width: 20%; margin: 0 auto;border-radius: 30vw; display: table-cell;">
            <p style="margin-top: 2vw;font-size: 2vw;">{{full_name}}</p>
            <button type="button" id="follow_user" class="btn btn-primary"> {% if is_following %} Following {% else %} Follow {%endif%} | {{followers_total}}</button>
            <button type="button" id="message_user" data-toggle="modal" data-target="#message_user_modal" class="btn btn-primary"> Message</button>
        </div>
        <div class="col-md-2">
            <p style="text-align: center;">About</p>
            <p><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp Worked at Kuvera</p>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbspStudies Computer Science at GNIOT</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="offset-md-3 col-md-6" id="user_feed">
            <p>{{full_name}}'s posts</p>
        </div>
    </div>
</div>
<div class="modal fade" id="message_user_modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="l">Message to {{full_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {%if user.is_authenticated%}
                <p>type a message </p>
                <textarea class="form-control" id="message_text" rows="3"></textarea>
                {% else %}
                You'll have to login to send a message
                {%endif%}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button"  data-footer_element_beta="{{element_beta}}" class="btn btn-primary" id="send_message_button">Send</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
token = '{{ csrf_token }}';
$(document).ready(function() {
    page_link = window.location.pathname;
    slash_index = window.location.pathname.indexOf('/', 2);
    profile_name = page_link.slice(slash_index + 1, -1);
    final_url = '../../profile/profile_feed/' + profile_name + '/';
    $.ajax({
        url: final_url,
        type: 'POST',
        data: {
            'csrfmiddlewaretoken': token
        },
        success: function(data) {
            console.log(data);
            for (feed_element in data) {
                console.log(data[feed_element]['liked']);
                if (data[feed_element]['likes_total'] == '0') {
                    data[feed_element]['likes_total'] = '';
                }
                if (data[feed_element]['comments_total'] == '0') {
                    data[feed_element]['comments_total'] = '';
                }
                if (data[feed_element]['shares_total'] == '0') {
                    data[feed_element]['shares_total'] = '';
                }
                if (data[feed_element]['liked'] == '1') {
                    var bool_liked = 'liked';
                } else if (data[feed_element]['liked'] == '0') {
                    var bool_liked = 'unliked';
                }
                var project_all =
                    '<div class="feed_project">     <hr>      <h4 class="feed_heading">' + data[feed_element]['title'] + '</h4>     <div class="feed_project_owner_meta">     <img class="feed_user_picture" src=' + data[feed_element][' photo_link '] + '>          <p class="feed_user_activity"> ' + data[feed_element]['full_name'] + ' added this | Mar 18</p>    </div>  <div class="feed_content">    <p class="feed_compressed_desc">' + data[feed_element]['description'] + ' </p>        <div class="feed_buttons" id="button_func" data-footer_element_beta="' + data[feed_element]['project_id'] + '" ' + '>     <i class="fa fa-thumbs-up feed_button button_like ' + bool_liked + '" aria-hidden="true">' + data[feed_element]['likes_total'] + '</i>      <i class="fa fa-comment feed_button" aria-hidden="true">' + data[feed_element]['comments_total'] + '</i>    <i class="fa fa-share feed_button" aria-hidden="true">' + data[feed_element]['shares_total'] + '</i> </div>     </div>      </div>';
                console.log(data[feed_element]['full_name']);
                console.log(project_all);
                feed = document.getElementById('user_feed');
                feed.insertAdjacentHTML('beforeend', project_all);

            }
        }
    })
});
$(document).on('click', '#send_message_button', function() {
    var msg =  $('#message_text').val();
    var fd = new FormData();
    fd.append('msg', msg);
    fd.append('msg_to', $(this).attr('data-footer_element_beta'));
    fd.append('csrfmiddlewaretoken', token);
    $.ajax({
        url: '../../profile/send_message/',
        type: 'POST',
        data: fd,
        processData: false,
        contentType: false,
        success: function(data) {
            console.log("Message Done");
        }
    });
})
$(document).on('click', '#follow_user', function() {
    var token = '{{ csrf_token }}';
    var url_user = window.location.href;
    var fd = new FormData();
    fd.append('url_user', url_user);
    fd.append('csrfmiddlewaretoken', token);
    $.ajax({
        url: '../../profile/add_follower/',
        type: 'POST',
        data: fd,
        processData: false,
        contentType: false,
        success: function(data) {
            $('#follow_user').html("Following | " + data['total']);
        }
    });
})
</script>
{% endblock body_content %}
